streamlit
pandas
numpy
fpdf
openpyxl
matplotlib
gspread
requests
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pyrebase5


#python -m streamlit run app.py



# OJO FALTA VERIFICACION INICIAL(verificación oficial)


