streamlit>=1.38.0
pandas
numpy
fpdf
openpyxl
matplotlib
gspread
requests
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
Pyrebase4==4.7.1
setuptools
firebase-admin
google-generativeai
pillow
plotly
extra-streamlit-components

#python -m streamlit run app.py
# OJO FALTA VERIFICACION INICIAL(verificación oficial)